<h1>About page</h1>

<div id="myplayer" style="width:500px;height:281px"></div>
<SCRIPT type=text/javascript>this.videoplayer = new Uppod({m:"video",comment:"Название",uid:"myplayer",file:"http://192.168.0.103:8080"});</script>