<h1>About page</h1>

<!--
<video width="512" height="288" controls
 type = "video/ogg" src="http://127.0.0.1:8080">
            </video>
-->

<div id="myplayer" style="width:500px;height:281px"></div>
<SCRIPT type=text/javascript>this.videoplayer = new Uppod({m:"video",comment:"Название",uid:"myplayer",file:"http://77.79.147.242:8080"});</script>