<!-- Begin VideoJS -->
 <div class="video-js-box">
   <!-- Using the Video for Everybody Embed Code http://camendesign.com/code/video_for_everybody -->
   <video class="video-js" width="640" height="264" controls preload>
     <source src="http://66171.dyn.ufanet.ru:8080" type='video/ogg; codecs="theora, vorbis"' />  
 </div>
 <!-- End VideoJS -->