<!--
 Begin VideoJS 
 <div class="video-js-box">
   <video class="video-js" width="640" height="264" controls preload>
     <source src="http://192.168.0.103:8080" type='video/ogg; codecs="theora, vorbis"' />  
 </div>
 < End VideoJS -->