<h1>Home</h1>

<% @posts.each do |post| %>
	Post: <%= post.content %> 
	| <%= link_to "show", post %> 
	| <%= link_to "edit", edit_post_path(post) %>
	| <%= link_to "delete", post, :method	=> :delete %><br />
<% end %>