<div class="footer"> 
  <div class="wrapper-inner"> 
    <ul> 
      <li><a href="#">О нас</a></li> 
      <li><a href="http://twitter.com/xstrz" target="blank">Twitter</a></li> 
      <li><a href="#">Контакты</a></li> 
    </ul> 
    <p class="about">Created by <b><i><a href="#">xstrz</a></i></b> &mdash; Ufa &copy; 2010</p> 
    <div class="clear"></div> 
  </div> 
</div>