<div class="footer"> 
  <div class="wrapper-inner"> 
    <ul> 
      <li><a href="/about">About</a></li> 
      <li><a href="/blog" target="blank">Blog</a></li> 
      <li><a href="/terms">Terms</a></li> 
      <li><a href="/contact">Contact</a></li> 
    </ul> 
    <p class="about">Created by <b><i><a href="#">xstrz</a></i></b> &mdash; Ufa &copy; 2010</p> 
    <div class="clear"></div> 
  </div> 
</div>