<header>		
		<ul class="controls"> 
			<li><%= link_to "Home", posts_path, :class => "login" %></li>
			<li><%= link_to "Create", new_post_path, :class => "login" %></li>
		  <li><%= link_to "Login", '#', :class => "login" %></li> 
		  <li><%= link_to "Sing Up", '#', :class => "singup" %></li> 
		</ul>
</header>